In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import LinearSVC
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix
import gc
import os

In [2]:
import joblib
training = joblib.load('./model/training.pkl')

In [3]:
train_neg_sample = training.loc[training['click']==0]
train_neg_sample1  = train_neg_sample.sample(n=3000000*6)
train_pos_sample = training.loc[training['click']!=0]
train_pos_sample1 = train_pos_sample.sample(n=3000000)

In [4]:
training['click'].value_counts()

0        142981069
1          6359105
2           190699
3            43118
4            18570
5            10481
6             6773
7             4616
8             3297
9             2491
10            2125
11            1624
12            1390
13            1191
14             988
15             774
16             738
17             648
18             608
19             527
20             430
21             396
22             353
23             314
25             302
24             300
26             273
27             232
28             216
29             195
           ...
514              1
512              1
511              1
510              1
505              1
578              1
491              1
488              1
218              1
483              1
480              1
478              1
528              1
530              1
532              1
534              1
536              1
537              1
540              1
542              1
543              1
549              1
551              1
555              1
556              1
189              1
566              1
572              1
577              1
39900            1
Name: click, Length: 617, dtype: int64

In [5]:
train = pd.concat([train_neg_sample1,train_pos_sample1]).reset_index(drop=True)
train['type']=0
train.dtypes
train

,click,impression,displayurl,adid,advertiserid,depth,position,queryid,keywordid,titleid,descriptionid,userid,type
0,0,1,7903914528320191889,21162526,1325,2,2,15,10,22,23,5413460,0
1,0,1,15145480155589094740,22072956,23807,2,1,1041676,269,3227,3495,2318239,0
2,0,1,17955036552515063201,20588302,33793,2,2,11494618,405,3626,306,2552325,0
3,0,1,7703279069701542953,20436320,4983,1,1,364,970,8738,5891,3310038,0
4,0,8,4892478347556874440,21729329,34211,3,3,96688,13130,512292,19161,0,0
5,0,2,12057878999086460853,20163238,27961,1,1,85963,169733,549966,467041,0,0
6,0,1,7484333488664585217,21090281,34691,2,2,2,67,78,103,2293353,0
7,0,1,2484495578050454714,21104688,33314,2,2,14199042,3349,16963,9351,11186497,0
8,0,1,13090221289647714786,20174985,23795,1,1,31,135,3,7,1694375,0
9,0,1,14340390157469404125,9027213,23808,3,2,18,1,0,0,2399266,0
10,0,1,9740463035797751778,21422867,11536,2,1,15657,5432,27846,26334,690231,0
11,0,1,15785112999276740221,20908196,35088,3,2,0,0,2,5,9381140,0
12,0,1,4110348821605919243,2941496,19549,3,3,2541544,2069,15066,1921,0,0
13,0,1,15989049276530887671,20314871,23830,2,2,6427,2937,75382,222,0,0
14,0,1,15145480155589094740,21173409,23807,2,2,990105,139078,506,8,0,0
15,0,1,15331536047915211842,20719045,34067,1,1,20584454,532089,1307015,994258,3602626,0
16,0,1,14340390157469404125,21163924,23808,3,2,7765509,1023,2243,62,1521780,0
17,0,1,15872012694861505532,20876742,34855,2,1,1958,3254,8729,1657,2963993,0
18,0,2,7484333488664585217,21090281,34691,3,2,54,67,152,219,2568299,0
19,0,1,5851252814446935968,21477605,28698,1,1,151112,778,309895,256531,0,0
20,0,1,2061296188583326077,4971372,387,1,1,12778,4360,9477,482,0,0
21,0,1,12234056809710540972,21787000,37359,1,1,66,109,67,84,15482276,0
22,0,1,1414030043541818662,20203884,1502,2,1,1697808,38,234,344,3472111,0
23,0,1,12057878999086460853,20188885,27961,1,1,21169729,45614,70739,115788,0,0
24,0,1,14756578758696272233,21260346,3625,3,1,58761,214389,31100,10449,574675,0
25,0,1,13977876557907733961,20500909,32774,1,1,18121942,563281,1408423,1707190,0,0
26,0,1,6539424021056514936,3219148,23777,3,2,10,54,57,72,1257798,0
27,0,1,17611115454105706134,2546010,23955,3,3,6446779,209,2231,2813,0,0
28,0,2,12057878999086460853,20174651,27961,1,1,498344,6112,17184,19281,5158560,0
29,0,1,5120683440510467664,8680101,1268,1,1,21666150,40008,107,35,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20999970,1,1,11288378057162323178,21326963,879,2,1,23988,25016,32007,79308,3713091,0
20999971,1,1,14531867648059391627,3834142,27485,1,1,2,8,28,74,203711,0
20999972,1,5,14340390157469404125,3111385,23777,2,1,78964,6672,6647,6867,0,0
20999973,1,1,14531867648059391627,21788544,27482,1,1,3632508,92580,125173,6,0,0
20999974,1,1,14780451164395332053,22074704,38334,3,1,16274,4010,183109,155985,92031,0
20999975,1,11,9662243402272994663,21273464,36286,2,1,7782,6006,123041,540,0,0
20999976,1,1,8994557070508579623,20030150,23799,2,2,5,1,15,19,1140665,0
20999977,1,5,14202400320781967402,8663729,27503,2,2,336365,482040,1137323,902116,0,0
20999978,1,1,2002143058964984831,20197019,24124,1,1,14710,26398,55,95,1548599,0
20999979,1,1,7903914528320191889,21162428,1325,2,2,466,1574,4975,5867,15499624,0
20999980,1,1,14340390157469404125,9027637,23808,2,1,6018528,610,108,146,0,0
20999981,1,1,7695386423484221540,10869975,29103,1,1,8063464,9973,26829,24395,216691,0
20999982,1,2,14340390157469404125,9027213,23808,2,2,1,1,0,0,13694538,0
20999983,1,1,14340390157469404125,10397481,23808,2,1,247291,12954,16,167,2546213,0
20999984,1,1,12057878999086460853,20203709,27961,2,2,67,158,83,109,13342575,0
20999985,1,1,16831722647981036270,2755982,4411,3,1,10522,33507,33737,23918,9905412,0
20999986,1,1,17989747235538194276,20403468,24036,2,1,3297598,939,6911,9151,141075,0
20999987,1,2,15989049276530887671,20311899,23828,2,1,4854,16509,36161,140,10544997,0
20999988,1,1,2692859619851282505,4291756,2051,2,2,100569,15244,4405,63,1396699,0
20999989,2,4,7941952683291592459,20024950,10935,2,2,1639,679,22879,19069,7405,0
20999990,1,1,17153861738207835190,21465108,37170,2,1,38156,25436,189630,162109,0,0
20999991,1,1,5851252814446935968,21477566,28698,2,1,16760,24800,898672,719028,2372052,0
20999992,1,1,9004035880665279462,20595493,33800,1,1,12659,3100,4124,668,18743644,0
20999993,1,7,8893439702406565008,21205790,29914,1,1,351,412,14157,508,0,0
20999994,1,2,17446436672557892995,4300646,357,2,1,537762,485,585,766,0,0
20999995,3,10,13756257544627676222,10959105,24354,2,2,45761,34019,281174,259,0,0
20999996,1,1,6539424021056514936,3219148,23777,1,1,3127,54,57,72,15605479,0
20999997,1,1,14340390157469404125,3207206,23777,1,1,515,1930,1319,1536,22459210,0
20999998,2,7,17984766042927387147,7779640,2411,1,1,355888,223717,983564,634385,27035,0
20999999,1,1,7903914528320191889,21101430,2010,2,1,8968045,361802,1101489,863575,0,0

In [6]:
num = train['impression'].sum()

In [7]:
def convert(train_array):
    convert_feature = np.zeros(shape=(num,13))
    index = 0
    for i in range(len(train_array)):
        row = train_array[i]
        #print(row)
        num_of_pos = int(row[0])
        for times in range(int(row[1])):
            if num_of_pos !=0:
                row[12] = int(1)
                convert_feature[index,:] = row
                num_of_pos = num_of_pos - 1
            else:
                row[12] = int(0)
                convert_feature[index,:] = row
            index = index + 1
    return convert_feature
train_array = train.values
train_data= convert(train_array)

In [8]:
import pandas as pd
columns = ['click','impression', 'displayurl', 'adid', 'advertiserid', 'depth', 
                     'position', 'queryid', 'keywordid', 'titleid', 'descriptionid', 'userid','type']
train_new = pd.DataFrame(train_data, columns=list(columns),dtype=np.int64)
train_new

,click,impression,displayurl,adid,advertiserid,depth,position,queryid,keywordid,titleid,descriptionid,userid,type
0,0,1,7903914528320191488,21162526,1325,2,2,15,10,22,23,5413460,0
1,0,1,-9223372036854775808,22072956,23807,2,1,1041676,269,3227,3495,2318239,0
2,0,1,-9223372036854775808,20588302,33793,2,2,11494618,405,3626,306,2552325,0
3,0,1,7703279069701542912,20436320,4983,1,1,364,970,8738,5891,3310038,0
4,0,8,4892478347556874240,21729329,34211,3,3,96688,13130,512292,19161,0,0
5,0,8,4892478347556874240,21729329,34211,3,3,96688,13130,512292,19161,0,0
6,0,8,4892478347556874240,21729329,34211,3,3,96688,13130,512292,19161,0,0
7,0,8,4892478347556874240,21729329,34211,3,3,96688,13130,512292,19161,0,0
8,0,8,4892478347556874240,21729329,34211,3,3,96688,13130,512292,19161,0,0
9,0,8,4892478347556874240,21729329,34211,3,3,96688,13130,512292,19161,0,0
10,0,8,4892478347556874240,21729329,34211,3,3,96688,13130,512292,19161,0,0
11,0,8,4892478347556874240,21729329,34211,3,3,96688,13130,512292,19161,0,0
12,0,2,-9223372036854775808,20163238,27961,1,1,85963,169733,549966,467041,0,0
13,0,2,-9223372036854775808,20163238,27961,1,1,85963,169733,549966,467041,0,0
14,0,1,7484333488664585216,21090281,34691,2,2,2,67,78,103,2293353,0
15,0,1,2484495578050454528,21104688,33314,2,2,14199042,3349,16963,9351,11186497,0
16,0,1,-9223372036854775808,20174985,23795,1,1,31,135,3,7,1694375,0
17,0,1,-9223372036854775808,9027213,23808,3,2,18,1,0,0,2399266,0
18,0,1,-9223372036854775808,21422867,11536,2,1,15657,5432,27846,26334,690231,0
19,0,1,-9223372036854775808,20908196,35088,3,2,0,0,2,5,9381140,0
20,0,1,4110348821605919232,2941496,19549,3,3,2541544,2069,15066,1921,0,0
21,0,1,-9223372036854775808,20314871,23830,2,2,6427,2937,75382,222,0,0
22,0,1,-9223372036854775808,21173409,23807,2,2,990105,139078,506,8,0,0
23,0,1,-9223372036854775808,20719045,34067,1,1,20584454,532089,1307015,994258,3602626,0
24,0,1,-9223372036854775808,21163924,23808,3,2,7765509,1023,2243,62,1521780,0
25,0,1,-9223372036854775808,20876742,34855,2,1,1958,3254,8729,1657,2963993,0
26,0,2,7484333488664585216,21090281,34691,3,2,54,67,152,219,2568299,0
27,0,2,7484333488664585216,21090281,34691,3,2,54,67,152,219,2568299,0
28,0,1,5851252814446936064,21477605,28698,1,1,151112,778,309895,256531,0,0
29,0,1,2061296188583325952,4971372,387,1,1,12778,4360,9477,482,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41040418,1,1,9004035880665279488,20595493,33800,1,1,12659,3100,4124,668,18743644,1
41040419,1,7,8893439702406564864,21205790,29914,1,1,351,412,14157,508,0,1
41040420,1,7,8893439702406564864,21205790,29914,1,1,351,412,14157,508,0,0
41040421,1,7,8893439702406564864,21205790,29914,1,1,351,412,14157,508,0,0
41040422,1,7,8893439702406564864,21205790,29914,1,1,351,412,14157,508,0,0
41040423,1,7,8893439702406564864,21205790,29914,1,1,351,412,14157,508,0,0
41040424,1,7,8893439702406564864,21205790,29914,1,1,351,412,14157,508,0,0
41040425,1,7,8893439702406564864,21205790,29914,1,1,351,412,14157,508,0,0
41040426,1,2,-9223372036854775808,4300646,357,2,1,537762,485,585,766,0,1
41040427,1,2,-9223372036854775808,4300646,357,2,1,537762,485,585,766,0,0
41040428,3,10,-9223372036854775808,10959105,24354,2,2,45761,34019,281174,259,0,1
41040429,3,10,-9223372036854775808,10959105,24354,2,2,45761,34019,281174,259,0,1
41040430,3,10,-9223372036854775808,10959105,24354,2,2,45761,34019,281174,259,0,1
41040431,3,10,-9223372036854775808,10959105,24354,2,2,45761,34019,281174,259,0,0
41040432,3,10,-9223372036854775808,10959105,24354,2,2,45761,34019,281174,259,0,0
41040433,3,10,-9223372036854775808,10959105,24354,2,2,45761,34019,281174,259,0,0
41040434,3,10,-9223372036854775808,10959105,24354,2,2,45761,34019,281174,259,0,0
41040435,3,10,-9223372036854775808,10959105,24354,2,2,45761,34019,281174,259,0,0
41040436,3,10,-9223372036854775808,10959105,24354,2,2,45761,34019,281174,259,0,0
41040437,3,10,-9223372036854775808,10959105,24354,2,2,45761,34019,281174,259,0,0
41040438,1,1,6539424021056515072,3219148,23777,1,1,3127,54,57,72,15605479,1
41040439,1,1,-9223372036854775808,3207206,23777,1,1,515,1930,1319,1536,22459210,1
41040440,2,7,-9223372036854775808,7779640,2411,1,1,355888,223717,983564,634385,27035,1
41040441,2,7,-9223372036854775808,7779640,2411,1,1,355888,223717,983564,634385,27035,1
41040442,2,7,-9223372036854775808,7779640,2411,1,1,355888,223717,983564,634385,27035,0
41040443,2,7,-9223372036854775808,7779640,2411,1,1,355888,223717,983564,634385,27035,0
41040444,2,7,-9223372036854775808,7779640,2411,1,1,355888,223717,983564,634385,27035,0
41040445,2,7,-9223372036854775808,7779640,2411,1,1,355888,223717,983564,634385,27035,0
41040446,2,7,-9223372036854775808,7779640,2411,1,1,355888,223717,983564,634385,27035,0
41040447,1,1,7903914528320191488,21101430,2010,2,1,8968045,361802,1101489,863575,0,1

In [9]:
train_new = train_new.drop_duplicates(subset=None, keep='first', inplace=False)

In [10]:
train_new['type'].value_counts()

0    18615464
1     2999992
Name: type, dtype: int64

In [11]:
import os
PATH_DATA = './model/'
test = None
if os.path.exists(PATH_DATA + 'test.pkl'):
    test = pd.read_pickle(PATH_DATA + 'test.pkl')
else:
    test = pd.read_csv(PATH_ABOVE + 'test.txt', header=None, sep='\t', nrows=None)
    test.columns = ['displayurl', 'adid', 'advertiserid', 'depth', 'position',
                    'queryid', 'keywordid', 'titleid', 'descriptionid', 'userid']
    test.to_pickle(PATH_DATA + 'test.pkl')
test = test[['adid', 'position', 'queryid', 'keywordid', 'userid']]
test

              adid  position   queryid  keywordid    userid
0         22166806         3      6415         34    490234
1          3111380         1      6415       8872    490234
2         22111129         2      6415       8872    490234
3         22166807         1        83         34    490234
4         20180629         2        83         34    490234
5         20163622         1        36        394  16870787
6         10400310         1   4595820         63   3514779
7          2580207         1  21942421        193   3514779
8         22219382         2   4595820      45245   3514779
9         20879032         1  12933754       3024   3514779
10        10400310         1   4595820         63   3514779
11        22219382         2   4595820      45245   3514779
12        22219382         1  24162701      45245   3514779
13        20876635         1        68        100   6231944
14        21191427         3    134407      17196     86056
15         4430548         2      1616        721     86056
16        20138682         1  20853928        964     86056
17        21163121         1       608       1385     86056
18        22159119         1    134407      17196     86056
19        22211506         1    116944     120804     86056
20        21945289         1     13783     137731     86056
21        20208029         3      1616       1021     86056
22        21465027         3    116944       3360     86056
23        20885621         2  15218434        311     86056
24        21162431         1      3052       2297     86056
25        21248429         1        64         10     86056
26        22111165         3   5452678       5861     86056
27         4424034         1      1616      15617     86056
28        21191652         1  15219104       4406     86056
29         3208005         3     27660     113656     86056
...            ...       ...       ...        ...       ...
20297564  20187583         1   2489910     224697   2640001
20297565  20187769         1       442        532   2640001
20297566  20187769         1       442        532   2640001
20297567   6434934         1       556         14   2640001
20297568  20187769         1   1786858        532   2640001
20297569   6434950         1     87619         61  23907429
20297570  21779988         1    556707      50534  11179913
20297571  21779988         1     54681      50534  11179913
20297572  21960893         2  13208019     865796  16870626
20297573  20197903         1  13208019     865796  16870626
20297574   3065545         1       454        167  23907501
20297575  21872983         1     95508      32349  16870721
20297576  22096391         2     95508     190892  16870721
20297577  20700890         3     32099      15797   1272572
20297578   7182975         2     12341       3208   1272572
20297579  21459970         2     32099      15797   1272572
20297580  22135182         2     37269      95719   1272572
20297581  21163140         1     45356      68822   1272572
20297582  22134865         1      2586       5271   1272572
20297583  20185839         1      6080        736   1272572
20297584  21805621         1     32099      92414   1272572
20297585   7098331         1     12341        316   1272572
20297586  20730627         2      1078       3960   1272572
20297587  20884657         3     12341       3208   1272572
20297588   7098332         3      1078       9564   1272572
20297589  21155567         1      1078        878   1272572
20297590   7824344         2      2586       5271   1272572
20297591  10810893         3     37269     143847   1272572
20297592  21478746         1     17492     147335   1272572
20297593  20108617         1     37269     112275   1272572

[20297594 rows x 5 columns]

In [12]:
X = train_new[['adid', 'position', 'queryid', 'keywordid', 'userid']]
y = train_new[['click','impression','type']]

In [13]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()

In [14]:
train_test=pd.concat([X,test])
train_test

              adid  position   queryid  keywordid    userid
0         21162526         2        15         10   5413460
1         22072956         1   1041676        269   2318239
2         20588302         2  11494618        405   2552325
3         20436320         1       364        970   3310038
4         21729329         3     96688      13130         0
12        20163238         1     85963     169733         0
14        21090281         2         2         67   2293353
15        21104688         2  14199042       3349  11186497
16        20174985         1        31        135   1694375
17         9027213         2        18          1   2399266
18        21422867         1     15657       5432    690231
19        20908196         2         0          0   9381140
20         2941496         3   2541544       2069         0
21        20314871         2      6427       2937         0
22        21173409         2    990105     139078         0
23        20719045         1  20584454     532089   3602626
24        21163924         2   7765509       1023   1521780
25        20876742         1      1958       3254   2963993
26        21090281         2        54         67   2568299
28        21477605         1    151112        778         0
29         4971372         1     12778       4360         0
30        21787000         1        66        109  15482276
31        20203884         1   1697808         38   3472111
32        20188885         1  21169729      45614         0
33        21260346         1     58761     214389    574675
34        20500909         1  18121942     563281         0
35         3219148         2        10         54   1257798
36         2546010         3   6446779        209         0
37        20174651         1    498344       6112   5158560
39         8680101         1  21666150      40008         0
...            ...       ...       ...        ...       ...
20297564  20187583         1   2489910     224697   2640001
20297565  20187769         1       442        532   2640001
20297566  20187769         1       442        532   2640001
20297567   6434934         1       556         14   2640001
20297568  20187769         1   1786858        532   2640001
20297569   6434950         1     87619         61  23907429
20297570  21779988         1    556707      50534  11179913
20297571  21779988         1     54681      50534  11179913
20297572  21960893         2  13208019     865796  16870626
20297573  20197903         1  13208019     865796  16870626
20297574   3065545         1       454        167  23907501
20297575  21872983         1     95508      32349  16870721
20297576  22096391         2     95508     190892  16870721
20297577  20700890         3     32099      15797   1272572
20297578   7182975         2     12341       3208   1272572
20297579  21459970         2     32099      15797   1272572
20297580  22135182         2     37269      95719   1272572
20297581  21163140         1     45356      68822   1272572
20297582  22134865         1      2586       5271   1272572
20297583  20185839         1      6080        736   1272572
20297584  21805621         1     32099      92414   1272572
20297585   7098331         1     12341        316   1272572
20297586  20730627         2      1078       3960   1272572
20297587  20884657         3     12341       3208   1272572
20297588   7098332         3      1078       9564   1272572
20297589  21155567         1      1078        878   1272572
20297590   7824344         2      2586       5271   1272572
20297591  10810893         3     37269     143847   1272572
20297592  21478746         1     17492     147335   1272572
20297593  20108617         1     37269     112275   1272572

[41913050 rows x 5 columns]

In [15]:
enc.fit(train_test)
train_onehot = enc.transform(X)
test_onehot = enc.transform(test)

/home/hujk/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [16]:
del train
del test
gc.collect()

145

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_onehot, y, test_size=0.1, random_state=42)

In [ ]:
from sklearn.svm import SVC
# clf = MultinomialNB(0.68)
# clf = SVC(kernel='linear')
# clf.fit(X_train, y_train['type'])
import os
from xgboost.sklearn import XGBClassifier
if os.path.exists('./model/xgb_train.pkl'):
    clf = joblib.load('./model/xgb_train.pkl')
else:
    clf = XGBClassifier(nthread=-1)
    clf.fit(X_train, y_train['type'])
    joblib.dump(clf, './model/xgb_train_9m.pkl')

In [ ]:
num_clicks = y_test['click'].tolist()

In [ ]:
num_impressions = y_test['impression'].tolist()

In [ ]:
prob_pre = clf.predict_proba(X_test)

In [ ]:
def scoreClickAUC(num_clicks, num_impressions, predicted_ctr):

    i_sorted = sorted(range(len(predicted_ctr)),key=lambda i: predicted_ctr[i],
                      reverse=True)
    auc_temp = 0.0
    click_sum = 0.0
    old_click_sum = 0.0
    no_click = 0.0
    no_click_sum = 0.0

    # treat all instances with the same predicted_ctr as coming from the
    # same bucket
    last_ctr = predicted_ctr[i_sorted[0]] + 1.0

    for i in range(len(predicted_ctr)):
        if last_ctr != predicted_ctr[i_sorted[i]]: 
            auc_temp += (click_sum+old_click_sum) * no_click / 2.0        
            old_click_sum = click_sum
            no_click = 0.0
            last_ctr = predicted_ctr[i_sorted[i]]
        no_click += num_impressions[i_sorted[i]] - num_clicks[i_sorted[i]]
        no_click_sum += num_impressions[i_sorted[i]] - num_clicks[i_sorted[i]]
        click_sum += num_clicks[i_sorted[i]]
    auc_temp += (click_sum+old_click_sum) * no_click / 2.0
    auc = auc_temp / (click_sum * no_click_sum)
    return auc

In [ ]:
auc = scoreClickAUC(num_clicks, num_impressions, prob_pre[:,1])
auc

In [ ]:
prob_pre_test = clf.predict_proba(test_onehot)

In [ ]:
predicted_ctr = prob_pre_test[:,1]

In [ ]:
solution = pd.read_csv('./data/KDD_Track2_solution.csv')

In [ ]:
auc = scoreClickAUC(solution['clicks'].tolist(), solution['impressions'].tolist(), predicted_ctr)
auc

In [ ]:
import joblib
joblib.dump(predicted_ctr,'./data/result/svc_firsttry.pkl')